
.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 80px solid orange;
}

.circle{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: red;
}

.trapezoid {
    width: 100px;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 60px solid purple;
}

.parallelogram {
	width: 150px;
	height: 80px;
	transform: skew(20deg);
	background-color: green;
    margin-left: 15px;
}
